*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar  ul li{
    right: 13%;
    font-size: 20px;
    list-style: none;
    display: inline-block;
    margin: 30 40px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar  ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar  ul li:hover:after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;

}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.content p{
    margin: 20px auto;
    font-size: 20px;
    font-weight: 100;
    line-height: 25px;
}    

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #009688;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;

}
button:hover{
    border: none;
}

#Cs{
    width: 100%;
    padding: 70px 0;
}
.title-text{
    
    padding-bottom: 70px;
}
.title-text h1{
    text-align: center;
    font-size: 80px;
    color:#009688;
}
.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features{
    flex-basis: 50%;
}
.features-img{
    flex-basis: 50%;
    margin: auto;
}
.features-img img{
    width: 70%;
}
.features h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;
}
.feature-desc{
    font-size: 35px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.feature-text p{
    padding: 0 20px;
    text-align: initial;   
}

#About{
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}
.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;  
}
.single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
}
.single-service img{
    width: 100%;
    border-radius: 7px;
}
.service-desc{
    width: 80%;
    position: relative;
    bottom: 0;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;

}
hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.service-desc p{
    font-size: 14px;   
}
.single-service:hover .service-desc{
    bottom: 40%;
    opacity: 1;
}

#Partners{
    width: 100%;
    padding: 70px 0;
}
.cole ul li{
    left: 50px;
    right: 50px;
    font-size: 20px;
    list-style: radial-gradient();
    display: inline-block;
    margin: 30 40px;
    position: relative;
}
.cole ul li a{
    text-decoration: none;
    color: #009688;
    text-transform: uppercase;
}

#footer{
    padding: 100px 0 50px;
    background: #efefef;
    position: relative;
}

.footer-img{
    max-width: 370px;  
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}

.social-links{
    text-align: center;
}

.social-links .fa{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px; 
    border: 1px solid #009688;
    margin: 40px 5px 0;
    color: #009688;
    cursor: pointer;
    transition: .5s;
}
.social-links .fa:hover{
    background: #009688;
    color: #fff;
    transform: translateY(-7px);
}
